In [3]:
import numpy as np
import pandas as pd

In [4]:
path="C:/Users/ISHA/Desktop/Datasets/archive/Automobile_data.csv"
df=pd.read_csv(path)
print(df)

     symboling normalized-losses         make fuel-type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            3                 ?  alfa-romero       gas        std
2            1                 ?  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19     3.4              10.0        102
4            136         mpfi  3.19     3.4               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01     3.4              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [6]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [7]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [9]:
df["length"] = df["length"].fillna(df["length"].mean())

In [26]:
df['normalized-losses']=df['normalized-losses'].replace(to_replace='NaN', value=None)
df['normalized-losses'] = df['normalized-losses'].fillna(value='Missing')

In [27]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
                    ..
0.862687             0
0.867164             0
0.873134             0
0.91791              0
1.0                  0
Length: 100, dtype: int64

In [28]:
df.dtypes

symboling            float64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
                      ...
0.862687                bool
0.867164                bool
0.873134                bool
0.91791                 bool
1.0                     bool
Length: 100, dtype: object

In [29]:
df.replace('?', np.nan, inplace=True)

for col in ['symboling','normalized-losses', 'bore', 'stroke', 'price']:
    df[col] = pd.to_numeric(df[col], errors='coerce')

df.fillna(df.mean(numeric_only=True), inplace=True)

from sklearn.preprocessing import MinMaxScaler

numeric_cols = ['symboling', 'normalized-losses', 'bore', 'stroke', 'price']
scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [30]:
df.columns

Index([         'symboling',  'normalized-losses',               'make',
                'fuel-type',         'aspiration',       'num-of-doors',
               'body-style',       'drive-wheels',    'engine-location',
               'wheel-base',              'width',             'height',
              'curb-weight',        'engine-type',   'num-of-cylinders',
              'engine-size',        'fuel-system',               'bore',
                   'stroke',  'compression-ratio',         'horsepower',
                 'peak-rpm',           'city-mpg',        'highway-mpg',
                    'price',                  0.0, 0.052238805970149294,
        0.13283582089552226,  0.22089552238805998,  0.23582089552238816,
        0.23880597014925353,   0.2417910447761198,  0.25074626865671634,
        0.26268656716417915,   0.2641791044776123,  0.26865671641791034,
        0.27164179104477615,  0.31791044776119426,  0.33283582089552244,
        0.36119402985074656,   0.3656716417910446,   0.3671641791044773,
        0.37611940298507474,  0.38358208955223905,  0.39104477611940336,
        0.39402985074626873,   0.4119402985074627,  0.41343283582089585,
        0.41492537313432853,   0.4164179104477612,   0.4179104477611939,
         0.4268656716417909,   0.4343283582089552,   0.4417910447761191,
         0.4492537313432834,   0.4567164179104477,   0.4611940298507462,
        0.46716417910447783,   0.4701492537313432,   0.4761194029850748,
         0.4791044776119402,    0.482089552238806,   0.4835820895522387,
         0.4850746268656714,                  0.5,   0.5059701492537312,
         0.5119402985074628,   0.5149253731343282,   0.5164179104477609,
         0.5238805970149252,   0.5298507462686568,   0.5328358208955226,
         0.5402985074626869,   0.5477611940298508,    0.553731343283582,
         0.5567164179104478,   0.5582089552238805,   0.5835820895522388,
         0.5850746268656719,   0.6029850746268659,   0.6059701492537313,
         0.6268656716417911,   0.6328358208955223,   0.6492537313432836,
         0.6791044776119404,   0.6805970149253731,   0.6925373134328359,
         0.6970149253731344,    0.711940298507463,   0.7149253731343284,
         0.7432835820895525,   0.7552238805970148,    0.770149253731343,
         0.7865671641791048,   0.8343283582089551,   0.8626865671641792,
         0.8671641791044773,   0.8731343283582089,   0.9179104477611939,
                        1.0],
      dtype='object')

In [32]:
df['normalized-losses'].value_counts()

normalized-losses
0.298429    45
0.502618    11
0.136126     8
0.445026     7
0.329843     6
0.204188     6
0.361257     6
0.198953     5
0.539267     5
0.047120     5
0.193717     5
0.151832     5
0.000000     5
0.157068     5
0.104712     5
0.214660     4
0.277487     4
0.434555     4
0.146597     4
0.465969     3
0.094241     3
0.314136     3
0.188482     3
0.376963     3
0.261780     3
0.675393     2
0.691099     2
0.664921     2
0.486911     2
0.518325     2
0.282723     2
0.083770     2
0.235602     2
0.418848     2
0.643979     2
0.125654     2
0.115183     2
0.460733     2
0.225131     2
0.335079     2
0.251309     2
0.172775     1
0.293194     1
0.219895     1
0.068063     1
0.869110     1
0.403141     1
0.062827     1
0.633508     1
0.130890     1
1.000000     1
Name: count, dtype: int64

In [33]:
dummies = pd.get_dummies(df["normalized-losses"])
dummies.head()

,0.000000,0.047120,0.062827,0.068063,0.083770,0.094241,0.104712,0.115183,0.125654,0.130890,...,0.502618,0.518325,0.539267,0.633508,0.643979,0.664921,0.675393,0.691099,0.869110,1.000000
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [34]:
df = pd.concat([df, dummies], axis=1)
df.drop("normalized-losses", axis = 1, inplace=True)

In [35]:
df.head()

,symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,width,...,0.502618,0.518325,0.539267,0.633508,0.643979,0.664921,0.675393,0.691099,0.86911,1.0
0,1.0,alfa-romero,gas,std,two,convertible,rwd,0,88.6,64.1,...,False,False,False,False,False,False,False,False,False,False
1,1.0,alfa-romero,gas,std,two,convertible,rwd,0,88.6,64.1,...,False,False,False,False,False,False,False,False,False,False
2,0.6,alfa-romero,gas,std,two,hatchback,rwd,0,94.5,65.5,...,False,False,False,False,False,False,False,False,False,False
3,0.8,audi,gas,std,four,sedan,fwd,0,99.8,66.2,...,False,True,False,False,False,False,False,False,False,False
4,0.8,audi,gas,std,four,sedan,4wd,0,99.4,66.4,...,False,True,False,False,False,False,False,False,False,False

In [36]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['engine-location'] = le.fit_transform(df['engine-location'])

In [37]:
df

,symboling,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,width,...,0.502618,0.518325,0.539267,0.633508,0.643979,0.664921,0.675393,0.691099,0.86911,1.0
0,1.0,alfa-romero,gas,std,two,convertible,rwd,0,88.6,64.1,...,False,False,False,False,False,False,False,False,False,False
1,1.0,alfa-romero,gas,std,two,convertible,rwd,0,88.6,64.1,...,False,False,False,False,False,False,False,False,False,False
2,0.6,alfa-romero,gas,std,two,hatchback,rwd,0,94.5,65.5,...,False,False,False,False,False,False,False,False,False,False
3,0.8,audi,gas,std,four,sedan,fwd,0,99.8,66.2,...,False,True,False,False,False,False,False,False,False,False
4,0.8,audi,gas,std,four,sedan,4wd,0,99.4,66.4,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.2,volvo,gas,std,four,sedan,rwd,0,109.1,68.9,...,False,False,False,False,False,False,False,False,False,False
201,0.2,volvo,gas,turbo,four,sedan,rwd,0,109.1,68.8,...,False,False,False,False,False,False,False,False,False,False
202,0.2,volvo,gas,std,four,sedan,rwd,0,109.1,68.9,...,False,False,False,False,False,False,False,False,False,False
203,0.2,volvo,diesel,turbo,four,sedan,rwd,0,109.1,68.9,...,False,False,False,False,False,False,False,False,False,False
204,0.2,volvo,gas,turbo,four,sedan,rwd,0,109.1,68.9,...,False,False,False,False,False,False,False,False,False,False